---

---

<html lang="en">
    <head>
        <title>Estate</title>
        <link rel="icon" type="image/svg" href="/favicon.svg" />
    </head>
    <body class="h-screen w-full"><slot /></body>
</html>
